# Created by .ignore support plugin (hsz.mobi)
### Java binary and package
*.class
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Gradle files
.gradle
/build
/out
*/build/**
*/out/**
gradle.properties
# Ignore Gradle GUI config
gradle-app.setting
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
# Cache of project
.gradletasknamecache
# Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# IntelliJ IDEA files
.idea/**
*.iml
geth.sh

# Sphinx generated docs
docs/build

/allSampleFiles/**

